<p id="notice"><%= notice %></p>

<h1>List of Potential Friends </h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Request friend</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendships.each do |friendship| %>
      <tr>
        <td><%= friendship.user %></td>
        <td><%= friendship.request_friend %></td>
        <td><%= friendship.status %></td>
        <td><%= link_to 'Show', friendship %></td>
        <td><%= link_to 'Edit', edit_friendship_path(friendship) %></td>
        <td><%= link_to 'Destroy', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friendship', new_friendship_path %>

<br>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Invite</th>
      </tr>
  </thead>

  <tbody>
    <% User.all.each do |user| %>
      <%  if user.id == current_user.id%>
      <% puts '' %>
      <% else %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Invite Friend', new_friendship_path %></td>
        </tr>
        <%end%>
    <% end %>
  </tbody>
</table>